certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
pyserial==3.5
requests==2.32.5
tls_client @ git+https://github.com/Nintendocustom/Python-Tls-Client.git@main
typing_extensions==4.15.0
urllib3==2.6.